<!-- 
  Author: Taera Kwon (300755802)
  File Name: partials/footer.ejs
  Description: This is footer
--> 
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container text-center"> <!-- To center the footer text -->
                <h7 class="navbar-text col-md-12 col-sm-12 col-xs-12">&copy; 2017 All Rights Reserved Taera Kwon</h7>
            </div>
        </nav>
        <!-- Scripts -->
        <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
        <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/Scripts/app.js"></script>
    </body>
</html>
