<!-- 
  Author: Taera Kwon (300755802)
  File Name: partials/footer.ejs
  Description: This is footer
--> 
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="footer_container">
                <h7 class="navbar-text">&copy; 2017 All Rights Reserved Taera Kwon.</h4>
            </div>
        </nav>
        <!-- Scripts -->
        <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
        <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/Scripts/app.js"></script>
    </body>
</html>
