<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <!-- CSS -->
        <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css"/>
        <link rel='stylesheet' href='/Contents/app.css' />
    </head>
<body>
    <!-- Navigation Bar -->
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:10px;">
            <ul class="nav navbar-nav">
                <!-- Click navbar-brand to scroll to top -->
                <a class="navbar-brand" href="#">Taera Kwon</a>
                <!-- Home is active as default in index.html-->
                <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </div>