<!-- 
  Author: Taera Kwon (300755802)
  File Name: views/error.ejs
  Website Name: 
  Description: This page contains about myself '/about'
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <!-- CSS -->
        <link rel='stylesheet' href='/Contents/style.css' />
    </head>
    <body>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </body>
</html>


