<!-- 
  Author: Taera Kwon (300755802)
  File Name: projects.ejs
  Website Name: Projects | Taera
  Description:  This is the projects page '/project'
                This page contains a list of development projects that I have accompished & currently participating
-->

<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel='stylesheet' href='/Contents/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Projects</p>
    <!-- Scripts -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
