<!-- 
  Author: Taera Kwon (300755802)
  File Name: about.ejs
  Website Name: About Taera
  Description: This page contains about myself '/about'
-->

<% include ../partials/header.ejs %>
<div class="container-fluid body" id="about">
  <div class="row">
    <div class="col-md-offset-0 col-md-12">
      <div class="contactContainer about">
      <h1><%= title %></h1>
      <img src="Contents/taera_profile.jpg" class="img-rounded profile" alt="Taera Kwon Profile Photo"/>
      <p>Welcome to <%= title %></p>
      </div> <!-- aboutContainer -->
    </div> <!-- .col-md-offset-3 col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container-fluid body -->
<% include ../partials/footer.ejs %>