<!-- 
  Author: Taera Kwon (300755802)
  File Name: views/contact.ejs
  Website Name: Projects | Taera
  Description:  This is the Contacts page 'views/contact'
                This page will list methods to contact me
-->

<% include ../partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div> <!-- .col-md-offset-3 col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
<% include ../partials/footer.ejs %>