<!-- 
  Author: Taera Kwon (300755802)
  File Name: views/contact.ejs
  Website Name: Projects | Taera
  Description:  This is the Contacts page 'views/contact'
                This page will list methods to contact me
-->

<% include ../partials/header.ejs %>
<div class="container-fluid body">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="contactContainer text-center animated zoomIn">
        <address>
          <strong>E-mail</strong><br>
          <a href="mailto:taerakwon@gmail.com"><%= email %></a><br>        
        </address>
      </div>
    </div> <!-- .col-md-offset-3 col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container-fluid body -->
<% include ../partials/footer.ejs %>