<!-- 
  Author: Taera Kwon (300755802)
  File Name: views/contact.ejs
  Website Name: Projects | Taera
  Description:  This is the Contacts page 'views/contact'
                This page will list methods to contact me
-->

<% include ../partials/header.ejs %>
<div class="container-fluid body">
  <div class="row">
    <div class="col-md-offset-0 col-md-0">
      <div class="bodyContainer contact text-center">
        <address>
          <strong>E-mail Address</strong>
          <br>
          <a href="mailto:taerakwon@gmail.com" class="hvr-bounce-in"><%= email %></a><br>        
        </address>
      </div>
    </div> <!-- .col-md-offset-3 col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container-fluid body -->
<% include ../partials/footer.ejs %>