<!-- 
  Author: Taera Kwon (300755802)
  File Name: index.ejs
  Website Name: Taera Kwon's Express Portfolio Site
  Description: This is the main default route of the page '/'
-->

<% include ../partials/header.ejs %>
  <div class="container-fluid body" id="home">
    <div class="row">
      <div class="col-md-offset-0 col-md-12">
        <div class="bodyContainer home text-center">   
          <h1 id="name"><b><%= name %></b></h1>
          <h4 class="animated infinite pulse"><i>... is Software Develop-ing</i></h4>
        </div> <!-- .containerHome -->
      </div> <!-- .col-md-offset-3 col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
<% include ../partials/footer.ejs %>
