/**
 *  Author: Taera Kwon (300755802)
 *  File Name: Contents/app.css
 *  Description: This is my custom CSS
 */

/* NAVIGATION BAR */
.navbar.navbar-default{
    width:675px;
    margin: auto;
    margin-top: 50px;
}

.collapse navbar-collapse {
    width: 100%;
    margin: auto;
}

/* Body Styling */
.container-fluid.body{
    margin-top: 50px;
    width: 800px;
    height: 500px;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.contactContainer{
    margin-top: 200px;
}

/* Footer */
.navbar.navbar-default.navbar-fixed-bottom {
    width: 100%;
}
