/**
 *  Author: Taera Kwon (300755802)
 *  File Name: Contents/app.css
 *  Description: This is my custom CSS
 */

/* NAVIGATION BAR */
.navbar.navbar-default{
    width:650px;
    margin: auto;
    margin-top: 50px;
}

/* Body Styling */
body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

.container-fluid.body{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 800px;
    height: 600px;
    border: 3px solid;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;    
}

/* index.ejs style */
/* Style for home body container */
#home{
    background-color: #ffffff;
    border-color: #00cca3;
}

#name {
    color: #00cca3;
}

.bodyContainer.home{
    margin-top: 30%;
}

/* about.ejs style */
.floating.about{
    font-size: 1.5em;
    margin-left: 360px;
    margin-top: -440px;
    position: inherit;
}

/* Profile photo */
#about_profile{
    margin-top: 25px;
    margin-left: 25px;
    height: 300px;
    border-radius: 250px;
}

#about{
    border-color: #ff6666;
}

#about_more_info_title{
    margin-top: 15px;
    text-align: center;
    font-size: 1.75em;
    color: #ff6666;
}

#about_more_info_contents{
    text-align: left;
    font-size: 1.25em;
}
/* projects.ejs style */

#projects{
    border-color: #0099cc;
}

#services{
    border-color: #ffcc00
}

#contact{
    border-color: #000000;
}

/* Footer */
.navbar.navbar-default.navbar-fixed-bottom{
    width: 100%;
    text-align: center;
}
